
<h1>All Quotes Saved</h1>



<table class="table table-bordered">
 <thead>
    <tr>
      <th>Conversation</th>
      <th>Quote</th>
      <th>Who Said</th>
      <th colspan="3">Actions</th>

      
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.combination.context %></td> 
        <td><%= quote.statement %></td>
        <td><%= quote.user.firstname %></td>
        
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<br>

<%= link_to 'New Quote', new_quote_path %>


